#
# zvava's nanorc
# @zvava@merveilles.town
#

# appearance
set   tabsize                4
set   errorcolor             red,normal
set   numbercolor            white,normal
set   selectedcolor          normal,magenta
set   stripecolor            normal,magenta
set   guidestripe            80

# syntax highlighting
include /usr/share/nano/*.nanorc
include ~/.nano/*.nanorc

# toggles
# todo: sort, categorize
set   afterends
set   atblanks
set   autoindent
unset backup
set   backupdir              ~/.nano.backups
set   boldtext
set   breaklonglines
set   casesensitive
unset cutfromcursor
set   emptyline
set   historylog
set   linenumbers
set   mouse
unset noconvert
set   nohelp
unset nonewlines
set   positionlog
set   minibar
set   regexp
set   smarthome
set   softwrap
set   suspendable
unset tabstospaces
unset wordbounds
set   whitespace             "»⋅"
set   wordchars              '
set   zap

# keymap
# taken and uncommented from lines 279-305 of /etc/nanorc
bind    ^Q exit          all
bind   M-Q cancel        all
bind    ^H help          all
bind    ^H exit          help
bind    ^F whereis       all
bind    ^G findnext      all
bind    ^B wherewas      all
bind    ^D findprevious  all
bind    ^R replace       main
bind    ^W writeout      main
bind    ^O insert        main
unbind  ^V               all
unbind  ^Y               all
bind   M-X flipnewbuffer all
bind    ^X cut           all
bind    ^C copy          all
bind    ^V paste         all
bind    ^P curpos        main
bind    ^T gotoline      main
bind    ^T gotodir       browser
bind    ^Y speller       main
unbind  ^K               all
unbind  ^U               all
bind   M-R redo          main
bind    ^Z undo          main
bind    ^Y redo          main
unbind M-J               main
unbind M-T               main
