@import url("https://customa.gitlab.io/Customa-Discord/Base/round.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Base/base.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Base/font.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Base/modules.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Base/selection.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Base/tooltips.m.css");

@import url("https://customa.gitlab.io/Customa-Discord/Chat/betterBlockedMessages.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Chat/betterCompactMode.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Chat/customEditIcon.m.css");

@import url("https://customa.gitlab.io/Customa-Discord/Sidebar/coloredChannelIcons.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Sidebar/classicChannelSelect.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Sidebar/wrapperMember.m.css");

:root {
	--c: 250, 0, 70;

	--DisplayEmbedPill: block;
	--DisplayNoConnectionBackdraw: none;

	--ColAppBG: #161621;
	--ColBackground1: #161621;
	--ColBackground2: #212126;
	--ColChannelList: var(--ColBackground2);
	--ColAccent: rgb(var(--c));
	--ColAccentAlpha: rgba(var(--c), 0.1);

	--ColFalse: var(--ColBackground1);
	--ColTrue: var(--ColAccent);

	--ColAnchor: var(--ColAccent);
	--ColTextSelection: rgba(var(--c), 0.9);

	--FontFamily: "Ubuntu", "Font Awesome 5 Free";
	--FontMonoFamily: "Ubuntu Mono";

	--ColBackgroundTooltip: var(--ColAccent);
	--ColTextTooltip: #ddd;

	--FilterNoHover: grayscale(50%);

	--DurationSidebarMod: 0.4s;
}

/* sex the context */

.contextMenu-HLZMGh {
	border: 1.33px solid black;
	border-radius: 2.33px !important;
	overflow: hidden;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.25) !important;
}

.contextMenu-HLZMGh *:not(.contextMenu-HLZMGh) {
	border-radius: 0 !important;
}

.contextMenu-HLZMGh .item-1Yvehc {
	margin: 0;
}

.contextMenu-HLZMGh .item-1Yvehc:not(.disabled-2xniQf):hover {
	background-color: var(--ColAccent) !important;
	color: #fff !important;
}
