/*

zvava's waybar style

@zvava@toot.cafe
https://github.com/mininmobile/config

*/

* {
    font-family: "Ubuntu Mono", monospace;
    font-size: 12px;
}

window#waybar {
	background: transparent;
	color: #dddddd;
}

#workspaces button {
	padding: 0;
    color: #aaaaaa;
}

#workspaces button.focused {
    color: #dddddd;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#disk,
#workspaces {
    margin: 0 3px;
}

#pulseaudio,
#battery,
#cpu,
#temperature,
#memory,
#disk,
.top #clock {
	border-top: 12px solid transparent;
}

#workspaces,
#network,
#backlight,
.bottom #clock {
	border-bottom: 12px solid transparent;
}

#pulseaudio {
	border-left: 17px solid transparent;
}

#workspaces {
	border-bottom: 12px solid transparent;
	border-left: 12px solid transparent;
}

#backlight,
#memory {
	border-right: 17px solid transparent;
}
