@namespace url(http://www.w3.org/1999/xhtml);

:root {
	--background: #161621;
	--foreground: #212126;
	--accent: rgb(250, 0, 70);

	scrollbar-color: var(--accent) var(--background) !important;
	scrollbar-width: thin !important;
}

@-moz-document url-prefix("about:newtab") {
	body {
		background-color: var(--foreground) !important;
	}

	#root > * {
		display: none;
	}

	#root {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#root::before {
		content: "";
		width: 30vh;
		height: 30vh;
		display: block;
		margin-right: 2vh;
		border: 7.5vh solid black;
		border-right: 7.5vh solid transparent;
		border-radius: 50%;
		transform: rotate(-45deg);
		opacity: 0.1;
	}
}
